<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laquanquan.personnel_salary.mapper.AnnouncementMapper">

    <resultMap id="BaseResultMap" type="com.laquanquan.personnel_salary.domain.Announcement">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="text" column="text" jdbcType="VARCHAR"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>
    <insert id="save" parameterType="com.laquanquan.personnel_salary.domain.Announcement">
        INSERT INTO `t_announcement`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="announcement.title != null and announcement.title != ''">
                `title`,
            </if>
            <if test="announcement.text != null and announcement.text != ''">
                `text`,
            </if>
            <if test="announcement.creator != null and announcement.creator != ''">
                `creator`,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="announcement.title != null and announcement.title != ''">
                #{announcement.title},
            </if>
            <if test="announcement.text != null and announcement.text != ''">
                #{announcement.text},
            </if>
            <if test="announcement.creator != null and announcement.creator != ''">
                #{announcement.creator},
            </if>
        </trim>
        ;
    </insert>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT `id`, `title`, `text`, `creator`, `create_time`
        FROM t_announcement
    </select>
</mapper>
