<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laquanquan.personnel_salary.mapper.DepartmentMapper">

    <resultMap id="BaseResultMap" type="com.laquanquan.personnel_salary.domain.Department">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="did" column="did" jdbcType="VARCHAR"/>
        <result property="departmentName" column="department_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"
                typeHandler="com.laquanquan.personnel_salary.typehandler.DateTypeHandler"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"
                typeHandler="com.laquanquan.personnel_salary.typehandler.DateTypeHandler"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT" javaType="Boolean"
                typeHandler="com.laquanquan.personnel_salary.typehandler.TinyIntHandler"/>
    </resultMap>
    <select id="selectByDid" resultMap="BaseResultMap">
        SELECT `did`, `department_name`
        FROM `t_department`
        WHERE `did` = #{did}
          AND `is_deleted` = 0 LIMIT 1
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT `did`, `department_name`
        FROM `t_department`
        WHERE `is_deleted` = 0
    </select>
    <select id="selectByName" resultMap="BaseResultMap">
        SELECT `did`, `department_name`
        FROM `t_department`
        WHERE `department_name` = #{departmentName}
          AND `is_deleted` = 0 LIMIT 1
    </select>

</mapper>
