<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laquanquan.personnel_salary.mapper.LogMapper">

    <resultMap id="BaseResultMap" type="com.laquanquan.personnel_salary.domain.Log">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="lid" column="lid" jdbcType="VARCHAR"/>
        <result property="user" column="user" jdbcType="VARCHAR"/>
        <result property="msg" column="msg" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="SMALLINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>
</mapper>
